function CaveShooterBall.new 0
push constant 13
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 10
call SlowAppender.new 1
pop this 4
push argument 2
push constant 10
call Math.divide 2
pop this 2
push argument 3
push constant 10
call Math.divide 2
pop this 3
push argument 2
call Math.abs 1
push constant 10
call Utils.modulo 2
pop this 11
push argument 3
push constant 10
call Utils.modulo 2
pop this 12
push constant 10
call SlowAppender.new 1
pop this 9
push constant 10
call SlowAppender.new 1
pop this 10
push constant 50
call SlowAppender.new 1
pop this 5
push argument 4
call Math.abs 1
pop this 7
push argument 2
push constant 0
gt
pop this 8
push argument 4
push constant 0
gt
pop this 6
push this 8
not
if-goto LABEL0
goto LABEL1
label LABEL0
push this 6
not
pop this 6
label LABEL1
push pointer 0
return
function CaveShooterBall.dispose 0
push argument 0
pop pointer 0
push this 4
call SlowAppender.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function CaveShooterBall.draw 0
push argument 0
pop pointer 0
push pointer 0
call CaveShooterBall.isDrawBall 1
if-goto LABEL2
goto LABEL3
label LABEL2
push this 0
push this 1
push constant 1
call Screen.drawCircle 3
pop temp 0
label LABEL3
push constant 0
return
function CaveShooterBall.getX 0
push argument 0
pop pointer 0
push this 0
return
function CaveShooterBall.getY 0
push argument 0
pop pointer 0
push this 1
return
function CaveShooterBall.isDrawBall 0
push argument 0
pop pointer 0
push pointer 0
call CaveShooterBall.isReachedEdge 1
not
push this 1
call Surface.getUpperDivider 0
push constant 1
add
gt
and
return
function CaveShooterBall.isDrawExplosion 0
push argument 0
pop pointer 0
push this 0
push constant 5
lt
push this 0
push constant 507
gt
or
push this 1
call Surface.getUpperDivider 0
push constant 1
add
lt
or
not
return
function CaveShooterBall.move 0
push argument 0
pop pointer 0
push this 0
push this 2
add
pop this 0
push this 8
if-goto LABEL4
goto LABEL5
label LABEL4
push this 0
push this 9
call SlowAppender.getIntValue 1
add
pop this 0
goto LABEL6
label LABEL5
push this 0
push this 9
call SlowAppender.getIntValue 1
sub
pop this 0
label LABEL6
push this 1
push this 3
sub
pop this 1
push this 1
push this 10
call SlowAppender.getIntValue 1
sub
pop this 1
push this 9
push this 11
call SlowAppender.addSlices 2
pop temp 0
push this 10
push this 12
call SlowAppender.addSlices 2
pop temp 0
push constant 0
return
function CaveShooterBall.affectByGravity 0
push argument 0
pop pointer 0
push this 3
push this 4
call SlowAppender.getIntValue 1
sub
pop this 3
push this 4
push constant 1
call SlowAppender.addSlices 2
pop temp 0
push constant 0
return
function CaveShooterBall.affectByWind 0
push argument 0
pop pointer 0
push this 6
if-goto LABEL7
goto LABEL8
label LABEL7
push this 0
push this 5
call SlowAppender.getIntValue 1
add
pop this 0
goto LABEL9
label LABEL8
push this 0
push this 5
call SlowAppender.getIntValue 1
sub
pop this 0
label LABEL9
push this 5
push this 7
call SlowAppender.addSlices 2
pop temp 0
push constant 0
return
function CaveShooterBall.isReachedEdge 0
push argument 0
pop pointer 0
push this 0
push constant 1
lt
push this 0
push constant 510
gt
or
push this 1
call Surface.getLowerDivider 0
gt
or
return
function CaveShooterBall.drawExplosion 1
push argument 0
pop pointer 0
push pointer 0
call CaveShooterBall.isDrawExplosion 1
not
if-goto LABEL10
goto LABEL11
label LABEL10
push constant 0
return
label LABEL11
push this 1
call Surface.getLowerDivider 0
gt
if-goto LABEL12
goto LABEL13
label LABEL12
call Surface.getLowerDivider 0
pop this 1
label LABEL13
push constant 0
pop local 0
label LABEL14
push local 0
push constant 5
lt
not
if-goto LABEL15
push this 0
push this 1
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 30
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto LABEL14
label LABEL15
push constant 0
pop local 0
push constant 50
call Sys.wait 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
label LABEL16
push local 0
push constant 5
lt
not
if-goto LABEL17
push this 0
push this 1
push local 0
call Screen.drawCircle 3
pop temp 0
push constant 20
call Sys.wait 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto LABEL16
label LABEL17
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
function CaveShooterBall.clear 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call CaveShooterBall.draw 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
return
