function PlatformsList.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function PlatformsList.moveUp 1
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto LABEL0
goto LABEL1
label LABEL0
push constant 0
return
label LABEL1
push this 0
pop local 0
label LABEL2
push local 0
call Platform.hasNext 1
not
if-goto LABEL3
push local 0
call Platform.moveUp 1
pop temp 0
push local 0
call Platform.getNext 1
pop local 0
goto LABEL2
label LABEL3
push constant 0
return
function PlatformsList.add 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto LABEL4
goto LABEL5
label LABEL4
push argument 1
pop this 0
push argument 1
pop this 1
push constant 0
return
label LABEL5
push this 1
push argument 1
call Platform.setNext 2
pop temp 0
push argument 1
pop this 1
push constant 0
return
function PlatformsList.removePlatform 0
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto LABEL6
goto LABEL7
label LABEL6
push constant 0
return
label LABEL7
push this 0
call Platform.hasNext 1
if-goto LABEL8
goto LABEL9
label LABEL8
push this 0
call Platform.getNext 1
pop this 0
push constant 0
return
label LABEL9
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
return
function PlatformsList.isOnPlatform 1
push argument 0
pop pointer 0
push this 0
push constant 0
eq
if-goto LABEL10
goto LABEL11
label LABEL10
push constant 0
return
label LABEL11
push this 0
pop local 0
label LABEL12
push local 0
call Platform.hasNext 1
not
if-goto LABEL13
push local 0
push argument 1
push argument 2
call Platform.isOnPlatform 3
if-goto LABEL14
goto LABEL15
label LABEL14
push constant 0
not
return
label LABEL15
push local 0
call Platform.getNext 1
pop local 0
goto LABEL12
label LABEL13
push constant 0
return
