function Problem.addFruit 5
call Fruit.new 0
pop local 2
push constant 0
pop local 4
label LABEL0
push local 4
push local 1
lt
not
if-goto LABEL1
push local 4
push local 0
add
pop pointer 1
push that 0
pop local 3
push local 2
call Fruit.getLetter 1
push local 3
call Fruit.getLetter 1
eq
if-goto LABEL2
goto LABEL3
label LABEL2
push local 2
call Fruit.dispose 1
pop temp 0
push constant 0
return
label LABEL3
push local 4
push constant 1
add
pop local 4
goto LABEL0
label LABEL1
push local 1
push local 0
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
push constant 0
return
