function SquareGame_Square.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop temp 0
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame_Square.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame_Square.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label LOOP.83
push local 1
not
not
if-goto BRAKE.87
label LOOP.89
push local 0
push constant 0
eq
not
if-goto BRAKE.94
call Keyboard.keyPressed 0
pop temp 0
pop local 0
push pointer 0
call SquareGame_Square.moveSquare 1
pop temp 0
goto LOOP.89
label BRAKE.94
push local 0
push constant 81
eq
if-goto IF_TRUE.115
goto IF_FALSE.115
label IF_TRUE.115
push constant 0
not
pop local 1
goto END.115
label IF_FALSE.115
label END.115
push local 0
push constant 90
eq
if-goto IF_TRUE.128
goto IF_FALSE.128
label IF_TRUE.128
push this 0
call Square.decSize 1
pop temp 0
goto END.128
label IF_FALSE.128
label END.128
push local 0
push constant 88
eq
if-goto IF_TRUE.143
goto IF_FALSE.143
label IF_TRUE.143
push this 0
call Square.incSize 1
pop temp 0
goto END.143
label IF_FALSE.143
label END.143
push local 0
push constant 131
eq
if-goto IF_TRUE.158
goto IF_FALSE.158
label IF_TRUE.158
push constant 1
pop this 1
goto END.158
label IF_FALSE.158
label END.158
push local 0
push constant 133
eq
if-goto IF_TRUE.171
goto IF_FALSE.171
label IF_TRUE.171
push constant 2
pop this 1
goto END.171
label IF_FALSE.171
label END.171
push local 0
push constant 130
eq
if-goto IF_TRUE.184
goto IF_FALSE.184
label IF_TRUE.184
push constant 3
pop this 1
goto END.184
label IF_FALSE.184
label END.184
push local 0
push constant 132
eq
if-goto IF_TRUE.197
goto IF_FALSE.197
label IF_TRUE.197
push constant 4
pop this 1
goto END.197
label IF_FALSE.197
label END.197
label LOOP.206
push local 0
push constant 0
eq
not
not
if-goto BRAKE.214
call Keyboard.keyPressed 0
pop temp 0
pop local 0
push pointer 0
call SquareGame_Square.moveSquare 1
pop temp 0
goto LOOP.206
label BRAKE.214
goto LOOP.83
label BRAKE.87
push constant 0
return
function SquareGame_Square.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE.245
goto IF_FALSE.245
label IF_TRUE.245
push this 0
call Square.moveUp 1
pop temp 0
goto END.245
label IF_FALSE.245
label END.245
push this 1
push constant 2
eq
if-goto IF_TRUE.260
goto IF_FALSE.260
label IF_TRUE.260
push this 0
call Square.moveDown 1
pop temp 0
goto END.260
label IF_FALSE.260
label END.260
push this 1
push constant 3
eq
if-goto IF_TRUE.275
goto IF_FALSE.275
label IF_TRUE.275
push this 0
call Square.moveLeft 1
pop temp 0
goto END.275
label IF_FALSE.275
label END.275
push this 1
push constant 4
eq
if-goto IF_TRUE.290
goto IF_FALSE.290
label IF_TRUE.290
push this 0
call Square.moveRight 1
pop temp 0
goto END.290
label IF_FALSE.290
label END.290
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
