function Bomb.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 10
pop this 1
push pointer 0
call Bomb.draw 1
pop temp 0
push pointer 0
return
function Bomb.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Bomb.draw 1
push argument 0
pop pointer 0
push constant 16384
push constant 32
push this 1
call Math.multiply 2
add
push this 0
add
pop local 0
push local 0
push constant 0
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 992
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16366
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32759
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32759
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 32767
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 16382
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 8188
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 2032
call Memory.poke 2
pop temp 0
push constant 0
return
function Bomb.erase 1
push argument 0
pop pointer 0
push constant 16384
push constant 32
push this 1
call Math.multiply 2
add
push this 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Bomb.startFalling 0
push argument 0
pop pointer 0
push this 1
push constant 230
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Bomb.erase 1
pop temp 0
push this 1
push constant 7
add
pop this 1
push pointer 0
call Bomb.draw 1
pop temp 0
push constant 5
call Sys.wait 1
pop temp 0
goto IF_END0
label IF_FALSE0
push pointer 0
call Bomb.erase 1
pop temp 0
push constant 10
pop this 1
push this 0
push constant 15
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 31
push this 0
sub
pop this 0
goto IF_END1
label IF_FALSE1
push constant 15
push this 0
add
pop this 0
label IF_END1
label IF_END0
push constant 0
return
function Bomb.getX 0
push argument 0
pop pointer 0
push this 0
push constant 16
call Math.multiply 2
return
function Bomb.getY 0
push argument 0
pop pointer 0
push this 1
return
