function GameRunner.new 0
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 220
push constant 230
call Basket.new 2
pop this 1
push constant 0
pop this 0
push pointer 0
call GameRunner.generateDrops 1
pop temp 0
push pointer 0
return
function GameRunner.updateGame 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 5
pop local 1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push this 7
add
pop pointer 1
push that 0
pop local 2
push local 2
call Drop.startFalling 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Basket.moveLeft 1
pop temp 0
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
call Basket.moveRight 1
pop temp 0
label IF_FALSE1
push constant 0
return
function GameRunner.runFullGame 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call GameRunner.updateGame 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 0
label IF_FALSE1
push local 0
push constant 132
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 0
label IF_FALSE2
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call GameRunner.updateGame 1
pop temp 0
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop this 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameRunner.generateDrops 2
push argument 0
pop pointer 0
push constant 5
call Array.new 1
pop this 7
push constant 5
pop local 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push local 0
push this 7
add
push local 0
push local 0
call Math.multiply 2
push constant 20
call Math.multiply 2
push constant 50
add
push constant 3
call Drop.new 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
